<!-- <h1>Hello World</h1> -->
<app-rooms></app-rooms>
<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'User'">Welcome User!</div>
  <div *ngSwitchCase="'Admin'">
    <app-rooms></app-rooms>
  </div>
  <div *ngSwitchDefault>You are not authorized to view the page</div>
</div> -->
<app-container>
  <app-rooms> </app-rooms>
  <app-employee></app-employee>
  <h1>This is from container</h1>
</app-container>
<div #name></div>
<div>
  <!-- ng template will not render anything but it can help us to render any other template eg a component also -->
  <ng-template #user></ng-template>
  <h1>Welcome User!</h1>
</div>
